<table class="table">

        @using (var context = new TravelEntities())
        {
            var sql = context.Database.ExecuteSqlCommand("select * from Posts where catId = " + @ViewBag.catId).ToList();

            //string userName = @ViewBag.loggedUserName;
            //Where(x => x.catId == context.Categories.catId)

            foreach (var item in context.Posts.ToList())
            {

                <tr>
                    <td>
                        <b style="color: red; font-size: large">@Html.DisplayFor(modelItem => item.postTitle)</b>
                        <p>@Html.DisplayFor(modelItem => item.postDesc)</p>
                    </td>
                </tr>

                <tr>
                    <td>
                        @*<a href="~/Posts/streetFood">Read full article..</a>*@
                        <a href="@Url.Action("streetFood", "Posts", new {id = item.postId})">Read full article..</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        Category: @Html.DisplayFor(modelItem => item.Category.catName)
                        <a href="@Url.Action("Edit", "Posts", new { id = item.postId })" class="btn btn-success">Edit</a>
                        <a href="@Url.Action("Details", "Posts", new { id = item.postId})" class="btn btn-primary">Details</a>
                        <a href="@Url.Action("Delete", "Posts", new { id = item.postId })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    }
</table>
