<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<style>
        @*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);*@

/** {
  font-family: Open Sans;
}
*/
section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

</style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Easy Travel", "", "", new { area = "" }, new { @class = "navbar-brand" })*@
                <img src="~/logoN.png" /" >
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>
                        @Html.ActionLink("Home", "Index", "Home")
                        </li>
                        <li>
                        @Html.ActionLink("About", "About", "Home")
                        </li>
                        <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                        </li>*@

                    @{
                        if (ViewBag.isHome == false)
                        {
                            ViewBag.isHome = true;
                            <li></li>
                        }
                        else
                        {
                            //Console.WriteLine(" asche nai ");
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        }

                        if (ViewBag.isAbout == false)
                        {
                            ViewBag.isAbout = true;
                            <li></li>
                        }
                        else
                        {
                            //Console.WriteLine(" asche nai ");
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        }

                        if (ViewBag.isContact == false)
                        {
                            ViewBag.isContact = true;
                            <li></li>
                        }
                        else
                        {
                            //Console.WriteLine(" asche nai ");
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        }


                        if (ViewBag.isLogIn == false)
                        {
                            ViewBag.isLogIn = true;
                            <li></li>
                        }
                        else
                        {
                            //Console.WriteLine(" asche nai ");
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }

                        if (ViewBag.isSignUp == false)
                        {
                            //Console.WriteLine(" asche 2");
                            ViewBag.isSignUp = true;
                            <li></li>
                        }
                        else
                        {
                            //Console.WriteLine(" asche nai 2");
                            <li>@Html.ActionLink("Signup", "Signup", "Account")</li>
                        }
                    }
                    @*<li>
                        @Html.ActionLink("Login", "Login", "Account")
                        </li>
                        <li>
                        @Html.ActionLink("Signup", "Signup", "Account")
                        </li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">@RenderBody()</div>
            <div class="col-6 col-md-4">
                <br /><br /><br />
                <hr />
                @{
                    Html.RenderPartial("_SidebarPartialView");
                }

            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <div>
        <!--<footer>-->
        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@

        <!--</footer>-->
        <footer class="footer-distributed">

            <div class="footer-left">

                <h3>Company<span>logo</span></h3>

                <p class="footer-links">
                    <a href="#" class="link-1">Home</a>

                    <a href="#">Blog</a>

                    <a href="#">Pricing</a>

                    <a href="#">About</a>

                    <a href="#">Faq</a>

                    <a href="#">Contact</a>
                </p>

                <p class="footer-company-name"><p>&copy; @DateTime.Now.Year EasyTravel</p>
            </div>

            <div class="footer-center">

                <div>
                    <i style="padding: 0px 0px;" class="fa fa-map-marker"></i>
                    <p><span>444 kurmitola</span> Dhaka, Bangladesh</p>
                </div>

                <div>
                    <i style="padding: 0px 0px;" class="fa fa-phone"></i>
                    <p>+88 01940294043</p>
                </div>

                <div>
                    <i style="padding: 0px 0px;" class="fa fa-envelope"></i>
                    <p><a href="mailto:support@easytravel.com">support@easytravel.com</a></p>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>

                <div class="footer-icons">

                    <a href="#"><i style="padding: 0px 0px; background: none;" class="fa fa-facebook"></i></a>
                    <a href="#"><i style="padding: 0px 0px; background: none;" class="fa fa-twitter"></i></a>
                    <a href="#"><i style="padding: 0px 0px; background: none;" class="fa fa-linkedin"></i></a>
                    <a href="#"><i style="padding: 0px 0px; background: none;" class="fa fa-github"></i></a>

                </div>

            </div>

        </footer>
    </div>
    <!--<div class="container body-content">-->
    @*@RenderBody()*@
    <!--<hr />-->
    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    <!--</div>-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
