@model IEnumerable<Travel.Comment>

@{
    ViewBag.Title = "Index";
}
@{
    ViewBag.Title = "Create";
    ViewBag.isLogIn = false;
    ViewBag.isSignUp = false;
    ViewBag.isHome = false;
    ViewBag.isAbout = false;
    ViewBag.isContact = false;
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.commentDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.postTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.userName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.commentDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.postTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.userName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.commentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.commentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.commentId })
            </td>
        </tr>
    }

</table>
