@model IEnumerable<Travel.Post>
@{
    ViewBag.Title = "Index";
}

<h2>Related Posts..</h2>

@{
    ViewBag.Title = "Create";
    ViewBag.isLogIn = false;
    ViewBag.isSignUp = false;
    ViewBag.isHome = false;
    ViewBag.isAbout = false;
    ViewBag.isContact = false;
}
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <b style="color: red; font-size: large">@Html.DisplayFor(modelItem => item.postTitle)</b>
                <p>@Html.DisplayFor(modelItem => item.postDesc)</p>
            </td>
        </tr>

        <tr>
            <td>
                @*<a href="~/Travel/@item.postUrl">Read full article..</a>*@
                <a href="@Url.Action("streetFood", "Posts", new {id = item.postId})">Read full article..</a>
                @*<a href="~/Posts/streetFood">Read full article..</a>*@
            </td>
        </tr>

        <tr>
            <td>
                Category: @Html.DisplayFor(modelItem => item.Category.catName)
                @*<a href="@Url.Action("Edit", new { id = item.postId })" class="btn btn-success">Edit</a>
                <a href="@Url.Action("Details", new { id = item.postId })" class="btn btn-primary">Details</a>
                <a href="@Url.Action("Delete", new { id = item.postId })" class="btn btn-danger">Delete</a>*@
            </td>
        </tr>
    }

</table>
